@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

section {
    position: relative;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("https://source.unsplash.com/random/900%C3%97700/?city");
    background-size: cover;
}

.wrapper {
    z-index: 1;
    width: 450px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: rgba(255, 255, 255, 0.2);
    border-bottom: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 10px;
}

.calendar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}

header .currentMonthYear {
    font-size: 1.45rem;
    font-weight: 500;
}

header .icons span {
    height: 38px;
    width: 38px;
    background: #0001;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    cursor: pointer;
}

header .icons span:last-child {
    margin-right: -10px;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.calendar {
    padding: 20px;
}

.calendar .weeks li {
    font-weight: 500;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar .days li {
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.days li:hover::before {
    background: #f2f2f2;
}

.days li.inactive {
    color: #aaa;
}

.days li.active::before {
    background: #f2f2f2;
}

.days li.active {
    color: #000;
}